{{ define "modules/home/html/home" }}
    <html><h1>
        {{ .title }} - {{.APP_NAME}}
    </h1>

    <p>Using home</p>

    <img src="/assets/download.webp" alt="Image" width="500">

    </html>
{{ end }}